html{
   scroll-behavior: smooth;
}
body{
    font-family: "Rubik", sans-serif;
    background-color: rgb(28, 32, 35);
}
.container {
  min-width: 320px;
  max-width: 767px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  @media (min-width: 768px) {
    max-width: 768px;
  }
  @media (min-width: 1200px) {
    max-width: 1200px;
  }
}
button{
    display: block;
    cursor: pointer;
    border: none;
}
img{
    display: block;
    width: 100%;
    height: auto;
}
input{
    outline: none;
    border: none;
}