<section class="dual">
    <div class="container">
        <h2 class="dual__title">DualSense</h2>
        <ul class="dual-list">
            <li class="dual-list__item">
                <div class="dual-list__thumb">
                    <img src="#" class="dual-list__img" alt="gamescreen dualsense" />
                </div>
                <div class="dual-list__options">
                    <p class="dual-list__option">You can also buy an exclusive controller  with the God of War Ragnarok theme for PS5</p>
                    <p class="dual-list__option">If you purchase a controller and a game (any edition), you will receive a 15% discount on two items.</p>
                </div>
                <div class="dual-list__cost">
                    <p class="dual-list__price">35.99$</p>
                    <button type="button" class="dual-list__btn">
                        BUY DUALSENSE WITH A GAME
                    </button>
                </div>
            </li>
        </ul>
    </div>
</section>