<section class="dual" id="dualsense">
    <div class="container">
        <h2 class="dual__title">DualSense</h2>
        <ul class="dual-list">
            <li class="dual-list__item ">
                <div class="dual-list__thumb">
                    <img src="./images/joystik.png" class="dual-list__img" alt="gamescreen dualsense" />
                </div>
                <div class="descriptions">
                    <div class="dual-list__options">
                        <p class="dual-list__option">You can also buy an exclusive controller with the <strong>God of
                                War Ragnarok</strong>
                            theme for PS5</p>
                        <p class="dual-list__option">If you purchase a controller and a game (any edition), you will
                            receive
                            a <span>15%</span> discount on two items.</p>
                    </div>
                    <div class="dual-list__cost">
                        <p class="dual-list__price">35.99$</p>
                        <button type="button" class="dual-list__btn" data-open-buy>
                            BUY DUALSENSE WITH A GAME
                        </button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>