<section class="editions" id="editions">
    <div class="container">
        <h2 class="editions__title">Editions</h2>
        <ul class="editions-list">
            <li class="editions-list__item">
                <div class="editions-list__thumb">
                    <img src="#" class="editions-list__img" alt="gamescreen standart PS5" />
                </div>
                <h4 class="editions-list__title">Standard Edition</h4>
                <h5 class="editions-list__text">PS5</h5>
                <div class="editions-list__options">
                    <p class="editions-list__option">Offline play enabled</p>
                    <p class="editions-list__option">Remote Play supported</p>
                    <p class="editions-list__option">Trigger effect required</p>
                </div>
                <div class="editions-list__cost">
                    <p class="editions-list__price">19.99$</p>
                    <button type="button" class="editions-list__btn">
                        Buy Now
                    </button>
                </div>
            </li>
            <li class="editions-list__item">
                <div class="editions-list__thumb">
                    <img src="#" class="editions-list__img" alt="gamescreen standart PS4" />
                </div>
                <h4 class="editions-list__title">Standard Edition</h4>
                <h5 class="editions-list__text">PS4</h5>
                <div class="editions-list__options">
                    <p class="editions-list__option">Offline play enabled</p>
                    <p class="editions-list__option">Remote Play supported</p>
                    <p class="editions-list__option">Trigger effect required</p>
                </div>
                <div class="editions-list__cost">
                    <p class="editions-list__price">18.99$</p>
                    <button type="button" class="editions-list__btn">
                        Buy Now
                    </button>
                </div>
            </li>
            <li class="editions-list__item">
                <div class="editions-list__thumb">
                    <img src="#" class="editions-list__img" alt="gamescreen deluxe PS5" />
                </div>
                <h4 class="editions-list__title">Digital Deluxe Edition</h4>
                <h5 class="editions-list__text">PS5</h5>
                <div class="editions-list__options">
                    <p class="editions-list__option">Offline play enabled</p>
                    <p class="editions-list__option">Remote Play supported</p>
                    <p class="editions-list__option">Trigger effect required</p>
                </div>
                <div class="editions-list__cost">
                    <p class="editions-list__price">29.99$</p>
                    <button type="button" class="editions-list__btn">
                        Buy Now
                    </button>
                </div>
            </li>
        </ul>
    </div>
</section>