<section class="Requirments">
    <div class="container">
        <h2 class="Requirments__title">Explore the God of War series</h2>
        <div class="Requirments__system">
            <p class="Requirments-switcher__text">Minimum</p>
            <div class="Requirments__switcher"></div>
            <p class="Requirments-switcher__text">Recommended</p>
            <img src="#" alt="Atrey">
            <ul class="Requirments-list">
                <li class="Requirments-list__item">
                    <p class="Requirments-list__text"><span class="Requirments-list__span">CPU</span>
                        : Intel i5-2500k or AMD Ryzen 3 1200</p>
                    <p class="Requirments-list__text"><span class="Requirments-list__span">RAM</span>
                        : 8 GB</p>
                    <p class="Requirments-list__text"><span class="Requirments-list__span">OS</span>
                        : Windows 10 64-bit</p>
                    <p class="Requirments-list__text"><span class="Requirments-list__span">VIDEOCARD</span>
                        : NVIDIA GTX 960 (4 GB) or AMD R9 290X (4 GB)</p>
                    <p class="Requirments-list__text"><span class="Requirments-list__span">PIVEL SHADER</span>
                        : 5.1</p>
                    <p class="Requirments-list__text"><span class="Requirments-list__span">VERTEX SHADER</span>
                        : 5.1</p>
                    <p class="Requirments-list__text"><span class="Requirments-list__span">FREE DISC SPACE</span>
                        : 70 GB</p>
                    <p class="Requirments-list__text"><span class="Requirments-list__span">DEDICATED VIDEO RAM</span>
                        : 4 GB</p>
                </li>
                <li class="Requirments-list__item hidden">
                    <p class="Requirments-list__text"><span class="Requirments-list__span">CPU</span>
                        : Intel i5-2500k or AMD Ryzen 5 1200</p>
                    <p class="Requirments-list__text"><span class="Requirments-list__span">RAM</span>
                        : 8 GB</p>
                    <p class="Requirments-list__text"><span class="Requirments-list__span">OS</span>
                        : Windows 11 64-bit</p>
                    <p class="Requirments-list__text"><span class="Requirments-list__span">VIDEOCARD</span>
                        : NVIDIA GTX 1060 (6 GB) or AMD RX 570 (4 GB)</p>
                    <p class="Requirments-list__text"><span class="Requirments-list__span">PIVEL SHADER</span>
                        : 5.1</p>
                    <p class="Requirments-list__text"><span class="Requirments-list__span">VERTEX SHADER</span>
                        : 5.1</p>
                    <p class="Requirments-list__text"><span class="Requirments-list__span">FREE DISC SPACE</span>
                        : 70 GB</p>
                    <p class="Requirments-list__text"><span class="Requirments-list__span">DEDICATED VIDEO RAM</span>
                        : 6 GB</p>
                </li>
                <li class="Requirments-list__item">
                    <button class="Requirments__btn open-modal-buy" type="button">BUY NOW</button>
                </li>
            </ul>
        </div>
            <div class="Requirments-system">
            <p class="Requirments-text__title">God of War for PS4</p>
                <p class="Requirments-switcher__text">Standart</p>
                <div class="Requirments__switcher"></div>
                <p class="Requirments-switcher__text">Limited</p>
            <ul class="Requirments-list">
                <li class="Requirments-list__item">
                    <p class="Requirments-list__text"><span class="Requirments-list__span">Platform</span>
                        : PS4</p>
                    <p class="Requirments-list__text"><span class="Requirments-list__span">Premiere</span>
                        : 20.4.2018</p>
                    <p class="Requirments-list__text"><span class="Requirments-list__span">Publisher</span>
                        : Sony Interactive Entertainment Europe</p>
                    <p class="Requirments-list__text"><span class="Requirments-list__span">Species</span>
                        : Action, Adventure</p>
                    <p class="Requirments-list__text"><span class="Requirments-list__span">Voice</span>
                        : English</p>
                    <p class="Requirments-list__text"><span class="Requirments-list__span">Display languages</span>
                        : English</p>
                </li>
                <li class="Requirments-list__item hidden">
                    <p class="Requirments-list__text"><span class="Requirments-list__span">Platform</span>
                        : PS4, PS5</p>
                    <p class="Requirments-list__text"><span class="Requirments-list__span">Premiere</span>
                        : 20.4.2018</p>
                    <p class="Requirments-list__text"><span class="Requirments-list__span">Publisher</span>
                        : Sony Interactive Entertainment Europe</p>
                    <p class="Requirments-list__text"><span class="Requirments-list__span">Species</span>
                        : Action, Adventure</p>
                    <p class="Requirments-list__text"><span class="Requirments-list__span">Voice</span>
                        : English, Polish, Russian</p>
                    <p class="Requirments-list__text"><span class="Requirments-list__span">Display languages</span>
                        : English, Dutch, Polish, Russian, Turkish
                    </p>
                </li>
                <li class="Requirments-list__item">
                    <button class="Requirments__btn open-modal-buy" type="button">BUY NOW</button>
                </li>
            </ul>
            <img src="#" alt="Kratos">
        </div>
    </div>
</section>