<section class="faq">
    <div class="container">
      <h1 class="faq__title">FAQ</h1>
        <div class="faq-items">
          <ul class="faq-list">
            <li class="faq-items__list">
              <h2 class="faq-items__title">When is the next God of War coming out?</h2>
              <p class="faq-items__text">God of War Ragnarök will release on <span class="faq-items__span">November 9, 2022.</span> To get the latest updates on release timing, make sure you follow Santa Monica Studio on Twitter, Instagram and Facebook! </p>
            </li>
            <li class="faq-items__list">
              <h3 class="faq-items__title">Will God of War Ragnarök have an upgrade path?</h3>
              <p class="faq-items__text">Yes, of course</p>
            </li>
            <li class="faq-items__list">
              <h3 class="faq-items__title">What is god of war about?</h3>
              <p class="faq-items__text">First era (Greek mythology) God of War was first released in North America on March 22, 2005, for the PlayStation 2. After ten years in the service of the Olympian gods, Spartan soldier Kratos is tasked by Athena to find Pandora's box, the key to defeating Ares, the God of War, who is running amok through Athens.
                </p>
            </li>
          </ul>
      
      </div>
    </div>
  </section>