<section class="faq" id="faq">
    <div class="container">
      <h2 class="faq__title">FAQ</h2>
          <ul class="faq-list">
            <li class="faq-list__item">
              <div class="faq-list__header">
              <h3 class="faq-list__title">When is the next God of War coming out?</h3>
              <button class="faq-list__btn" type="button" data-open-faq>
                <svg class="faq-list__svg faq-list__svg--open">
                  <use href="./images/icons/symboldefs.svg#open">
                </svg>
                <svg class="faq-list__svg faq-list__svg--close">
                    <use href="./images/icons/symboldefs.svg#close1">
                </svg>
              </button>
            </div>
              <div class="faq-list__overlay">
              <p class="faq-list__overlay--text">God of War Ragnarök will release on <span class="faq-items__span">November 9, 2022.</span> To get the latest updates on release timing, make sure you follow Santa Monica Studio on Twitter, Instagram and Facebook! </p>
            </div>
            </li>
            <li class="faq-list__item">
              <div class="faq-list__header">
                <h3 class="faq-list__title">Will God of War Ragnarök have an upgrade path?</h3>
                <button class="faq-list__btn" type="button" data-open-faq>
                  <svg class="faq-list__svg faq-list__svg--open">
                    <use href="./images/icons/symboldefs.svg#open">
                  </svg>
                  <svg class="faq-list__svg faq-list__svg--close">
                      <use href="./images/icons/symboldefs.svg#close1">
                  </svg>
                </button>
                </div>
            <div class="faq-list__overlay">
              <p class="faq-list__overlay--text">Yes, of course</p>
              </div>
            </li>
          </ul>
    </div>
  </section>