<footer class="footer">
    <div class="container">
      <div class="footer-bg">
        <img src="./images/imgfooter.png" alt="footer-bg">
      </div>
      <div class="footer-spacer">
          <ul class="footer-list">
              <li class="footer-list__item">
                  <a href="#" class="footer-list__link">EDITIONS</a>
              </li>
              <li class="footer-list__item">
                  <a href="#" class="footer-list__link">CONTROLLER</a>
              </li>
              <li class="footer-list__item">
                  <a href="#" class="footer-list__link">ABOUT GAME</a>
              </li>
              <li class="footer-list__item">
                <a href="#" class="footer-list__link">EXPLORE</a>
            </li>
            <li class="footer-list__item">
              <a href="#" class="footer-list__link">NEWS</a>
          </li>
          <li class="footer-list__item">
            <a href="#" class="footer-list__link">FAQ</a>
        </li>
          </ul>
          <p class="footer-list__text"><span class="footer-list__text--language">LANGUAGE:</span>ENGLISH</p>
      </nav>
      </div>
      <div class="footer-info">
        <p class="footer-info__text">Download of this product is subject to the PlayStation Network Terms of Service and our Software Usage Terms plus any specific additional conditions applying to this product. If you do not wish to accept these terms, do not download this product. See Terms of Service for more important information.</p>
        <img src="./images/image9.png" alt="ps" class="footer-info__ps">
      <p class="footer-info__year">2022</p>
      <p class="footer-info__dev">Developed by <a href="#" class="footer-info__link">Tomkovich.</a> All rights reserved</p>      </div>
    </div>
</footer>