<header class="header">
    <div class="container">
        <div class="snowfall">
            <video autoplay muted loop playsinline class="snowfall__video">
                <source src="./images/videos/snowfall.mp4" type="video/mp4" />
            </video>
        </div>
        <div class="header__pages ">
            <button type="button" class="header-btn">
                <svg class="header-btn__icon" width="25px" height="16px">
                    <use href="./images/icons/symbol-defs.svg#icon-hamburger"></use>
                </svg>
            </button>
            <nav class="navigation">
                <ul class="nav-list is-hidden">
                    <button class="nav-list__close">x</button>
                    <li class="nav-list__item">
                        <a href="#editions" class="nav-list__link">Editions</a>
                    </li>
                    <li class="nav-list__item">
                        <a href="#dualsense" class="nav-list__link">Controller</a>
                    </li>
                    <li class="nav-list__item">
                        <a href="#trailer" class="nav-list__link">About Game</a>
                    </li>
                    <li class="nav-list__item">
                        <a href="#explore" class="nav-list__link">Explore</a>
                    </li>
                    <li class="nav-list__item">
                        <a href="#news" class="nav-list__link">News</a>
                    </li>
                    <li class="nav-list__item">
                        <a href="#faq" class="nav-list__link">FAQ</a>
                    </li>
                    <li class="nav-list__item">
                        <details class="language-switcher">
                            <summary class="nav-list__link language">
                                English
                                <svg class="nav-list__icon" width="12px" height="12px">
                                    <use href="./images/icons/symbol-defs.svg#icon-up-arrow"></use>
                                </svg>
                            </summary>
                            <ul class="language-dropdown">
                                <li><a href="#" class="nav-list__link language">Ukrainian</a></li>
                            </ul>
                        </details>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="header-time">
            <h3 class="header-time__title">Release:</h3>
            <ul class="header-time-list">
                <li class="header-time-list__item">
                    <p class="header-time-list__num days">20</p>
                    <p class="header-time-list__sym">D</p>
                </li>
                <li class="header-time-list__item">
                    <p class="header-time-list__num hours">20</p>
                    <p class="header-time-list__sym">H</p>
                </li>
                <li class="header-time-list__item">
                    <p class="header-time-list__num minutes">59</p>
                    <p class="header-time-list__sym">M</p>
                </li>
            </ul>
        </div>
    </div>
</header>