<div class="backdrop-buy is-hidden">
    <form class="buy-modal">
        <button class="buy-modal__close-btn" data-close-buy>x</button>
        <div class="buy-modal__headline">
            <h2 class="buy-modal__title">GOD OF WAR RAGNAROK</h2>
            <h3 class="buy-modal__pretitle">STANDARD EDTION</h3>
        </div>
        <ul class="buy-modal-list">
            <li class="buy-modal-list__item">
                <label class="buy-modal-list__label">Credit card:</label>
                <input class="buy-modal-list__input" type="text" placeholder="0000 0000 0000 0000" maxlength="19"
                    inputmode="numeric" />
            </li>
            <li class="buy-modal-list__item buy-modal-list__row">
                <div class="buy-modal-list__half">
                    <label class="buy-modal-list__label">Expire:</label>
                    <input class="buy-modal-list__input buy-modal-list__input--small" type="text" placeholder="mm/yy"
                        maxlength="5" />
                </div>
                <div class="buy-modal-list__half">
                    <label class="buy-modal-list__label">CVV:</label>
                    <input class="buy-modal-list__input buy-modal-list__input--small" type="password" placeholder="***"
                        maxlength="3" inputmode="numeric" />
                </div>
            </li>
            <li class="buy-modal-list__item">
                <label class="buy-modal-list__label">INSTANT:</label>
                <input class="buy-modal-list__input" type="text" placeholder="John Doe" maxlength="52"></input>
            </li>
        </ul>
        <label class="buy-modal__checkbox-label">
            <input type="checkbox" class="buy-modal__checkbox" />
            <span class="custom-checkbox"></span>
            I agree with the <a class="custom-checkbox__link">rules</a> of the site
        </label>
        <p class="buy-modal__info">Download of this product is subject to the PlayStation Network Terms
            of Service and our Software Usage Terms plus any specific additional conditions applying to
            this product. If you do not wish to accept these terms, do not download this product.
            See Terms of Service for more important information.</p>
        <div class="buy-modal-box">
            <h4 class="buy-modal-box__text">your total summa:</h4>
            <p class="buy-modal-box__sum" data-modal-price>19.99$</p>
        </div>
        <button class="buy-modal__submit-btn" data-close-buy>buy NOW</button>
    </form>
</div>