<section class="trailer" id="trailer">
    <div class="container">
  
    <h2 class="trailer__title">About Game </h2>
  <div class="trailer__video">
    <video src="https://www.youtube.com/watch?v=EE-4GvjKcfs" controls poster="/src/images/traillerposter.jpg" class="trailer__video-elem"></video>
  </div>
  <div class="trailer__video-info">
    <h2 class="trailer__video-info-title">Watch the Trailer</h2>
    <button type="button" class="trailer__video-info-btn"> PLAY</button>
  </div>
    </div>
  </section>