.header {
  background-color: transparent;
  padding-top: 36px;
  &__pages {
    display: flex;
    align-items: center;
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.nav-list {
  position: fixed;
  top: 0;
  left: -500px;
  width: 220px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  flex-direction: column;
  padding: 100px 50px;
  gap: 30px;
  transition: left 0.3s ease;
  z-index: 3;
  &__close {
    display: flex;
    position: absolute;
    top: 12px;
    right: 15px;
    color: getColors('white-color');
    background-color: transparent;
    font-size: 24px;
    @media (min-width: 1200px) {
      display: none;
    }
  }
  @media (min-width: 1200px) {
    width: 100%;
    position: static;
    flex-direction: row;
    background: none;
    padding: 0;
    left: 0;
    display: flex;
  }
}
.is-open {
  left: 0;
}
.nav-list {
  padding-left: 50px;
  display: none;
  @media (min-width: 1200px) {
    display: flex;
    gap: 31px;
    opacity: 1;
  }
  &__item {
    display: flex;
    align-items: center;
  }
  &__btn {
    margin-left: 9px;
  }
  &__link {
    @include text(14px, 400, 193%);
    color: rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
    &:hover {
      color: getColors('violet-color');
    }
  }
}
.language {
  color: getColors('white-color');
  font-weight: 700;
  cursor: pointer;
}
summary {
  list-style: none;
}
.header-btn__icon,
.nav-list__icon {
  fill: getColors('white-color');
}
.nav-list__icon {
  transition: transform 0.5s ease;
}
.language-switcher[open] .nav-list__icon {
  transform: rotate(180deg);
}
.header-btn,
.nav-list__btn {
  background-color: transparent;
}
.header-time {
  display: flex;
  align-items: center;
  gap: 10px;
  &__title {
    @include text(16px, 400, 100%);
    color: getColors('lightgrey-color');
  }
}
.header-time-list {
  display: flex;
  gap: 10px;
  padding-left: 19px;
  &__item {
    text-align: center;
  }
  &__num {
    @include text(40px, 700, 100%, 0%);
    color: getColors('grey-color');
  }
  &__sym {
    @include text(16px, 400, 100%, 0%);
    color: getColors('lightgrey-color');
    text-align: center;
  }
}
